@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");

html {
  font-size: 62.5%;
}
li {
  list-style-type: none;
}

.search-bar {
  display: flex;
  align-items: center;
  border-radius: 5rem;
  background-color: white;
  box-shadow: 0 0 7px black;
}
.dropdown {
  position: relative;
  width: 25rem;
  background-color: #03a9f4;
  border-radius: 5rem;
  border: 1px solid white;
  cursor: pointer;
}
.dropdown-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  padding: 1rem 1.5rem;
}
.dropdown-list {
  position: absolute;
  top: 5rem;
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  border-radius: 1.5rem;
  background-color: white;
  transition: max-height 0.5s;
}
#list.show {
  max-height: 30rem;
}
.dropdown-list-item {
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 1.5rem;
  padding: 1rem 0 1rem 1.5rem;
  cursor: pointer;
  transition: margin-left 0.2s ease, color 0.2s ease;
}
.dropdown-list-item:hover {
  margin-left: 0.5rem;
  color: #03a9f4;
}
.search-box {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  width: 100%;
  color: #211b15;
}
.search-box input {
  padding: 1rem;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  color: #211b15;
  border: 0;
  outline: 0;
}
#filter-icon{
  margin-right: .5rem;
  opacity: 0;
  transition: opacity .2s;
}
.search-box input:focus + #filter-icon{
  opacity: 100%;
}
.search-box span {
  cursor: pointer;
}
.container-header ul > li {
  cursor: pointer;
}
.container-header > nav > ul {
  display: flex;
  gap: 4rem;
  list-style-type: none;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
}
.container-header ul > li {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .container-map-desktop{
    display: none;
  }
  .container{
    width: 90%;
    margin: auto;
  }
  .header{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  .header-img {
    width: 8rem;
    height: 4.5rem;
  }
  .header > ul {
    display: flex;
    gap: 1.1rem;
  }
  .header > ul > li {
    cursor: pointer;
  }
  .header ul li a{
    text-decoration: none;
    color: inherit;
  }
  .header ul li a span{
    font-size: 3.5rem;
  }
  .header ul li > span {
    font-size: 3.5rem;
    cursor: pointer;
  }

  .search-bar-container{
    position: absolute;
    z-index: 1;
    top: 7rem;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    width: 90%;
  }

  .search-bar {
    width: 100%;
  }
}
@media screen and (min-width: 1024px){

  .containerHeader {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;
      z-index: 1;
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      transition: background-color 0.5s ease, box-shadow 0.5s ease;
  }
  .containerHeader.scrolled {
      background-color: white;
      box-shadow: 0 0 7px black;
  }
  .containerHeader.scrolled.dark-mode {
    background-color: rgba(31, 37, 51, 1);
    transition: background-color 0.3s ease;
    color: white;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header > ul{
    display: flex;
    gap: 30rem;
  }
  .header-logo {
    width: 10rem;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.293));
  }
  .search-bar {
    display: flex;
    align-items: center;
    border-radius: 5rem;
    min-width: 40rem;
    background-color: white;
    box-shadow: 0 0 7px black;
  }
  .dropdown {
    position: relative;
    width: 28rem;
    background-color: #03a9f4;
    border-radius: 5rem;
    border: 1px solid white;
    cursor: pointer;
  }
  .dropdown-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    padding: 1rem 1.5rem;
  }
  .dropdown-list {
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    border-radius: 1.5rem;
    background-color: white;
    transition: max-height 0.5s;
  }
  #list.show {
    max-height: 30rem;
  }
  .dropdown-list-item {
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 1.5rem;
    padding: 1rem 0 1rem 1.5rem;
    cursor: pointer;
    transition: margin-left 0.2s ease, color 0.2s ease;
  }
  .dropdown-list-item:hover {
    margin-left: 0.5rem;
    color: #03a9f4;
  }
  .search-box {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    width: 100%;
    color: #211b15;
  }
  .search-box input {
    padding: 1rem;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    color: #211b15;
    border: 0;
    outline: 0;
  }
  #filter-icon{
    margin-right: .5rem;
    opacity: 1;
  }
  .search-box span {
    cursor: pointer;
  }
  .header-nav{
    display: flex;
  }
  .header-nav > ul {
    display: flex;
    gap: 4rem;
    list-style-type: none;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    font-style: normal;
  }
  .header-nav ul > li {
    cursor: pointer;
  }
  .header-nav ul > li a {
    text-decoration: none;
    color: #211b15;
  }
  .darkModeToggle{
    display: flex;
  }
  .header__loginBtn {
    border: 2px solid #03a9f4;
    border-radius: 2rem;
    padding: 1.2rem;
  }
  .header__loginBtn:hover {
    background-color: #03a9f4;
    color: white;
    transition: background-coler 0.3s, color 0.3s;
  }
  .login-register-buttons, .icons-buttons{
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .icons-buttons span{
    cursor: pointer;
  }
  .icons-buttons > .notification-btn{
    font-size: 26px;
  }
  .icons-buttons > .conta-btn{
    font-size: 45px;
  }
  .conta-btn{
    font-size: 100px;
  }
  .user-widget{
    width: 137px;
    height: 182px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 8.5rem;
    right: 35rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.252);
    visibility: hidden;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
    display: flex;
  }
  .user-widget.show{
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
  .user-widget hr{
    opacity: 20%;
  }
  .logout-btn, .config-btn, .save-btn{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
  }
  .logout-btn, .config-btn, .save-btn p{
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
  .login-register-buttons{
    display: flex;
  }
  .user-page{
    width: 329px;
    height: 239px;
    position: absolute;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: white;
    top: 8.5rem;
    right: 32rem;
    overflow:hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.252);
  }
  .user-name-icon{
    background-color: #f4f4f4;
    height: 108px;
    width: 100%;
  }
  .user-page h5{
    font-size: 16px;
    cursor: pointer;
  }
  .container-dados{
    width: 100%;
  }
  .user-email-senha{
    padding: 6px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 30px;
  }
  .user-edit h3, .user-email-senha h3{
    font-size: 14px;
  }
  .user-edit p, .user-email-senha p{
    font-size: 12px;
  }
  .user-name-icon{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
  }
  .user-name-icon > .material-symbols-outlined{
    margin-left: 24px;
    font-size: 70px;
  }
  .dark-mode {
    background-color: rgba(21, 26, 39, 1);
    color: white;
  }
}

