@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

html{
    font-size: 62.5%;
}
li{
    list-style-type: none;
}
.containerHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    z-index: 1;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.containerHeader.scrolled {
    background-color: white;
    box-shadow: 0 0 7px black;
}
.logoContainer{
    background-color: white;
    box-shadow: 0 0 7px black;
    padding: 1rem;
    border-radius: 24% 76% 19% 81% / 74% 24% 76% 26%;
}
.logoContainerNone{
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
}
.header__logo{
    width: 10rem;
    border-radius: 24% 76% 19% 81% / 74% 24% 76% 26%;
}
.search-bar{
    display: flex;
    align-items: center;
    border-radius: 5rem;
    min-width: 50rem;
    background-color: white;
    box-shadow: 0 0 7px black;
}
.dropdown{
    position: relative;
    width: 28rem;
    background-color: #03A9F4;
    border-radius: 5rem;
    border: 1px solid white;
    cursor: pointer;
}
.dropdown-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    padding: 1rem 1.5rem;
}
.dropdown-list{
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    border-radius: 1.5rem;
    background-color: white;
    transition: max-height .5s;
}
#list.show{
    max-height: 30rem;
}
.dropdown-list-item{
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 1.5rem;
    padding: 1rem 0 1rem 1.5rem;
    cursor: pointer;
    transition: margin-left .2s ease, color .2s ease;
}
.dropdown-list-item:hover{
    margin-left: 0.5rem;
    color: #03A9F4;
}
.search-box{
    display: flex;
    align-items: center;
    padding-right: 1rem;
    width: 100%;
    color:#211b15;
}
.search-box input{
    padding: 1rem;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    color: #211b15;
    border: 0;
    outline: 0;
}
.search-box span{
    cursor: pointer;
}
.header__nav > ul{
    display: flex;
    gap: 4rem;
    list-style-type: none;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    font-style: normal;
}
.header__nav ul > li{
    cursor: pointer;
}
.header__nav ul > li a{
    text-decoration: none;
    color: #211b15;

}
.header__loginBtn{
    border: 2px solid #03A9F4;
    border-radius: 2rem;
    padding: 1.2rem;
}