.dark-mode{
    background-color: rgba(21, 26, 39, 1);
    color: white;
}
.banner__DarkMode{
    background-image: url(../images/Banner-Darkmode.jpg);
    background-position: center;
    color: white;    
}
.container_DarkMode{
    background-color: rgba(31, 37, 51, 1);
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}