@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.193);
}


@media screen and (max-width: 767px) {
  .container-1024 {
    display: none;
  }
  .Container-SectionOne {
    width: 100%;
    height: 43.8rem;
    background-image: url(../images/novoBackground.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .sectionOne-mobile {
    width: 90%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sectionOne-mobile > h1 {
    font-size: 2.4rem;
    margin-top: 8rem;
  }
  .sectionOne-mobile > p {
    font-size: 0.6rem;
    font-weight: 600;
    margin-bottom: 1.7rem;
  }
  .sectionOne-mobile-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }
  .sectionOne-mobile-listItem {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }
  .sectionOne-mobile-listItem > span {
    background-color: #03a9f4;
    color: white;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    font-size: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sectionOne-mobile-listText {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 18.3rem;
    background-color: white;
    border-radius: 0 1rem 1rem 0px;
    padding: 0.7rem;
  }
  .sectionOne-mobile-listText > h3 {
    font-size: 1.3rem;
  }
  .sectionOne-mobile-listText > p {
    font-size: 0.7rem;
    font-weight: 600;
  }
  .sectionOne-mobile > button {
    width: 15rem;
    height: 3.5rem;
    margin-top: 1.5rem;
    background-color: #03a9f4;
    border: none;
    border-radius: 0.9rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
  }
  .sectionTwo-mobile {
    margin: auto;
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sectionTwo-mobile >  h3{
    text-transform: uppercase;
    width: 19.7rem;
    background-color: #211b15;
    color: #fafafa;
    height: 2.2rem;
    border-radius: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -10px;
    z-index: 1;
    margin-top: 2.8rem;
  }
  .sectionTwo-mobile > h4 {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0.7rem;
    margin-bottom: 0.4rem;
  }
  .sectionTwo-mobile ul > li {
    font-size: 0.7rem;
    font-weight: 600;
  }
  .sectionTwo-mobile-planos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 28.6rem;
    height: 6.7rem;
    background-color: #211b15;
    border-radius: 1rem;
    padding: 2.2rem 1.3rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .sectionTwo-mobile-planos p {
    font-size: 3.2rem;
    font-weight: 700;
  }
  .sectionTwo-mobile-planos p > span {
    text-transform: uppercase;
  }
  .sectionTwo-mobile-planos h5 {
    font-size: 1.3rem;
    text-transform: uppercase;
    cursor: pointer;
  }
  .mensal {
    background-color: #fafafa;
    margin-top: 2.9rem;
  }
  .anual {
    background-color: #03a9f4;
    color: white;
  }
}

@media screen and (min-width: 1024px) {
  .container-mobile {
    display: none;
  }
  .container {
    width: 124rem;
    margin: auto;
  }
  .section__banner {
    width: 100%;
    height: 90vh;
    background-image: url(../images/novoBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-style: normal;
    color: #211b15;
  }
  .banner__content {
    width: 50%;
  }
  .banner__content h1 {
    font-size: 7rem;
  }
  .banner__content p {
    font-size: 1.8rem;
  }
  .section {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    padding: 5rem;
  }
  .section__advantage {
    display: flex;
    justify-content: space-between;
    padding: 0 10rem;
  }
  .section__Text h3 {
    font-size: 2.4rem;
    font-weight: 700;
    font-style: normal;
  }
  .section__Text p {
    font-size: 1.6rem;
    font-weight: 600;
    font-style: normal;
  }
  .advantageContainer {
    width: 17.7rem;
    height: 25.9rem;
    box-shadow: 0 0 7px black;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0 1rem;
  }
  .advantageContainer img {
    width: 6rem;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  }
  .containerImg {
    background-color: #03a9f4;
    width: fit-content;
    padding: 1.5rem;
    border-radius: 50%;
    position: absolute;
    top: -20%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .advantageContainer h4 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    font-style: normal;
    margin-top: 6rem;
  }
  .advantageContainer p {
    font-size: 1.4rem;
    font-weight: 600;
    font-style: normal;
  }
  .section button {
    width: 26.1rem;
    height: 5.1rem;
    border-radius: 0.9rem;
    border: none;
    background-color: #03a9f4;
    font-weight: 600;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    color: white;
    text-transform: uppercase;
    margin: auto;
    cursor: pointer;
  }
  .sectionTwo {
    width: 100%;
    height: 60vh;
    background-image: url(../images/sectionTwo-imgLight.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .sectionTwo__content h1 {
    text-transform: uppercase;
    font-size: 4.8rem;
    font-weight: 700;
    font-style: normal;
    line-height: 7rem;
    padding-top: 10rem;
  }
  .sectionTwo__content h1 span {
    font-size: 9.6rem;
  }
  .sectionTwo__content p {
    font-size: 1.5rem;
    width: 40%;
    font-weight: 600;
    font-style: normal;
  }
  .sectionTwo__content button {
    width: 14.4rem;
    height: 4.9rem;
    border-radius: 0.9rem;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    font-style: normal;
    background-color: #03a9f4;
    font-size: 2rem;
    margin-top: 2rem;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .sectionTwo__content button a {
    text-decoration: none;
    outline: none;
    color: white;
  }
  .sectionThree {
    padding: 3.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sectionThree h3 {
    font-size: 2.4rem;
    text-transform: uppercase;
  }
  .sectionThree li {
    font-size: 1.6rem;
    font-weight: 600;
    font-style: normal;
  }
  .sectionThree button {
    border: none;
    font-size: 1.6rem;
    border-radius: 0.9rem;
    width: 26rem;
    height: 5rem;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
  .sectionThree h1 {
    font-size: 4rem;
  }
  .sectionThree span {
    font-size: 6.4rem;
  }
  .sectionThree h4 {
    background-color: #211b15;
    padding: 0.3rem 5.8rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    color: white;
    text-transform: uppercase;
    margin-top: -56px;
    margin-bottom: 2.7rem;
  }
  .sectionThree hr {
    width: 11.2rem;
  }
  .mensal hr {
    border: 1px solid black;
  }
  .anual hr {
    border: 1px solid white;
  }
  .anual h3,
  .anual h1 {
    color: white;
  }
  .sectionThree-description {
    text-align: center;
    padding-bottom: 6rem;
  }
  .sectionThree-planos-h3,
  .sectionThree-planos-button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mensal {
    background-color: white;
  }
  .mensal button {
    background-color: #03a9f4;
    color: white;
  }
  .anual {
    background-color: #03a9f4;
  }
  .anual button {
    background-color: white;
    color: #03a9f4;
  }
  .sectionThree-planos {
    display: flex;
    gap: 8.1rem;
  }
  .sectionThree-planos-plano {
    width: 32.3rem;
    height: 46.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    box-shadow: 0 0 7px black;
    padding: 4.2rem;
  }
  .sectionThree-planos-plano h3 {
    padding-bottom: 2.4rem;
  }
  .sectionThree-planos-plano button {
    margin-top: 2.4rem;
  }
}
