*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}

.container__geral{
    width: 100%;
}


@media screen and (max-width: 767px) {

    .container__geral{
        display: flex !important;
        flex-direction: column !important;
    }
    .img-mobile{
        display: block !important;
        width: 100% !important;
    }
    .cabecalho{
        position: fixed !important;
        top: 0 !important;
        max-width: 100% !important;
        height: auto !important;
        z-index: 10000000000 !important;
    }
    .cabecalho__conteudo{
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        width: 90% !important;
        display: flex !important;

    }
    .cabecalho__logo img{
        width: 100% !important;
        max-width: 100px;

    }
    .cabecalho__icones{
        align-items: center !important;
        display: flex !important;
        gap: 5vw;

    }
    .cabecalho__icones img{
        width: 5vh !important;
        max-width: 30px;
    }
    .slider{
        height: fit-content !important;
        width: 100% !important;
        text-align: center;
        left: auto;
        margin-top: 5vh !important;
    }
    .descricao{
        height: 100%;
        justify-content: center;
        top: 5% !important;
        left: 0% !important;
        display: flex !important;
        align-items: center !important;
        flex-direction: column;
        text-align: right !important;      
        width: 100% !important;
    }
    .descricao h1{
        font-size: 7vw !important;
        text-align: center !important;
    }
    .descricao p{
        font-size: 2.5vw !important;
        width: 90% !important;
        text-align: center !important;
    }
    .div__button{
        top: 100% !important;
        width: 100% !important;
        z-index: 9999 !important;
        display: flex !important;
    }
    .buttom__inscricao{
        margin-top: 10px;
        width: 50% !important;
        height: 150% !important;
        font-size: 4vw !important;
    }
    .nav-manual, .nav-auto, .conteudo__img, 
    .img-desktop, .cabecalho__botoes, .background,
    .funcoes, .mensagem, .mensagem__paragrafo{
        display: none !important;
    }
    .container{
        height: fit-content !important;
        max-width: 100% !important;
        z-index: 15;
        background-color: white;
        border-radius: 15px;
        margin-top: -10px;
        box-shadow: 2px -2px 10px black;
        padding: 20px;
    }
    .container__conteudo{
        padding: 20px !important;
        max-width: 100% !important;
    }
    .conteudo__direita{
        max-width: 100% !important;
        margin: 0 auto !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: left !important;
        padding-bottom: 30px;
    }
    .conteudo__direita h3, .conteudo__esquerda h3{
        font-size: 7vw !important;
    }
    .conteudo__direita p, .conteudo__esquerda p{
        font-size: 3vw !important;
    }
    .background-mobile{
        display: none !important;
        max-width: 100vw !important;
        max-height: 100vh !important;
        top: 70% !important;
        position: absolute;
    }
    .background-mobile{
        max-width: 100% !important;
        height: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .cabecalho__conteudo{
        width: 80% !important;
    }
    .div__button{
        display: none !important;
    }
    .slider{
        display: flex !important;
        flex-direction: column;
        height: fit-content !important;
    }
    .nav-auto, .nav-manual{
        position: relative;
        top: -16%;
    }
    .descricao{
        height: 100%;
        justify-content: center;
        top: 1% !important;
        left: 0% !important;
        display: flex !important;
        align-items: center !important;
        flex-direction: column;
        text-align: center !important;      
        width: 100% !important;
    }
    .descricao h1{
        font-size: 6vw !important
    }
    .descricao p{
        font-size: 2vw !important;
        width: 90vw !important;
    }
    .container{
        padding: 20px;
        display: flex !important;
        flex-direction: column;
        gap: 40px;
    }
    .conteudo__img{
        width: 49% !important;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.389);
        border-radius: 10px;
    }
    .conteudo__direita h3, .conteudo__esquerda h3{
        font-size: 2.5vw;
    }
    .conteudo__direita p, .conteudo__esquerda p{
        font-size: 1.5vw;
    }
    .mensagem{
        margin-bottom: -3% !important;
    }
    .mensagem h4{
        font-size: 1.5vw !important;
    }
    .mensagem p{
        display: none;
    }
    .funcoes{
        margin-top: -34% !important;
        height: 100% !important;
        width: 60vw !important;
    }
    .funcao__img{
        top: -12% !important;
    }
    .funcao__img img{
        width: 4vw !important;
    }
    .funcoes__funcao{
        height: 22vh !important;
        max-height: 100% !important;
        width: 20vw !important;
        padding: 10px !important;
    }
    .funcoes__funcao h3{
        margin-top: 1vw !important;
        font-size: 1.5vw !important;
    }
    .funcoes__funcao p{
        font-size: 1vh !important;
        width: 12vw !important;
        height: 10vh;
    }
}

@media screen and (min-width: 1024px){
    
    .buttom__inscricao{
        display: none;
    }
    .descricao{
        text-align: center !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        left: 0% !important;
    }
    .descricao h1{
        font-size: 5vw !important;
    }
    .descricao p{
        font-size: 1vw !important;
        width: 60% !important;
    }
    .container{
    width: 60%;
    height: 800px;
    box-shadow: 2px 2px 10px black;
    background-color: white;
    position: fixed !important;
    top: 50%;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 80px;
    left: 50%;
    border-radius: 5px;
    transform: translate(-50%, 0);
    padding: 50px;
    }
    .conteudo__img{
    width: 27vw !important;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.389);
    border-radius: 10px;
    }
    .conteudo__h3{
        font-size: 1.7vw !important;
    }
    .conteudo__p{
        font-size: 1vw !important;
    }
    
}
.cabecalho__conteudo{
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-between;
}
.cabecalho{
    width: 100%;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
    z-index: 10000;
    top: 0;
    position: fixed;
    background-color: white;
}
.cabecalho__botoes{
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}
.cabecalho__botoes button{
    padding: 5px;
    background-color: transparent;
    height: 30px;
    cursor: pointer;
    border: none;
    font-family: "Rubik", sans-serif;
    position: relative;
}
.cabecalho__botoes button::after{
    content: " ";
    width: 0%;
    height: 3px;
    background-color: #03A9F4;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
.cabecalho__botoes button:hover::after{
    width: 100%;
}
.cabecalho__logo img{
    width: 130px;
    padding: 15px;
    filter: drop-shadow( 1px 3px 5px rgba(0, 0, 0, 0.193));
}
.descricao{
    text-shadow: 2px 2px 10px black;
    position: absolute;
    top: 17%;
    left: 20%;
    color: white;
    text-align: start;
    z-index: 100;
}
.descricao h1{
    font-family: "Oswald", sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 500;
}
.descricao p{
    font-family: "Rubik", sans-serif;
    width: 900px;
    font-size: 20px;
}
section.slider{
    margin: 80px auto 0 auto;
    width: 100%;
    height: 600px;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}
.slider-content input, .img-mobile, .background-mobile, .cabecalho__icones{
    display: none;
}
.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}
.slide-box img{
    width: 100%;
    object-fit: cover;
}
.nav-manual, .nav-auto{
    position: absolute;
    bottom: 100px;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
    z-index: 10;
}
.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #ffffff;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}
.nav-manual .manual-btn:hover{
    background-color: #ffffff;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #ffffff;
}
#radio1:checked ~ .primeiro{
    margin-left: 0%;
}
#radio2:checked ~ .primeiro{
    margin-left: -25%;
}
#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

/*.container{
    width: 60%;
    height: 800px;
    box-shadow: 2px 2px 10px black;
    background-color: white;
    position: absolute;
    top: 1000px;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 80px;
    left: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    padding: 50px;
}*/

.container__conteudo{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

/*.conteudo__img{
    height: 290px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.389);
    border-radius: 10px;
}*/
.conteudo__direita{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}
.conteudo__esquerda{
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
    gap: 15px;
}
.conteudo__p{
    font-family: "Rubik", sans-serif;
    font-size: 17px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.206);
}
.conteudo__esquerda hr{
    width: 300px;
    border-color: black;
}
.conteudo__direita hr, .conteudo__esquerda hr{
    width: 50%;
    border-color: black;
}
.conteudo__h3{
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-size: 25px;
    height: fit-content;
    border-radius: 3px;
}
.background{
    position: relative;
    top: 65%;
    max-width: 100%;
    max-height: 100%;
    z-index: -10;
}
.mensagem{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: rgb(255, 255, 255);
    position: relative;
    top: 85%;
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.389);
    font-family: "Rubik", sans-serif;
    width: 60%;
    margin: auto;
}
.mensagem__titulo{
    font-size: 25px;
    text-transform: uppercase;
}
.mensagem__paragrafo{
    font: 15px;
}
.funcoes{
    width: 60%;
    display: flex;
    gap: 40px;
    margin: auto;
    position: relative;
    text-align: center;
    font-family: "Roboto", sans-serif;
    padding: 20px;
}
.funcoes__funcao{
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    align-items: center;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.389);
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.248);
    margin: auto;
}
.funcao__img{
    width: fit-content;
    height: fit-content;
    padding: 20px;
    border-radius: 50%;
    position: absolute;
    top: -25%;
    background-color:#03A9F4;
}
.funcoes img{
    width: 100px;
}
.funcoes__funcao h3{
    padding-top: 30px;
    font-weight: medium 500;
}
.funcoes__funcao p{
    font-size: 17px;
}
.buttom__inscricao{
    width: 250px;
    height: 60px;
    border-radius: 10px;
    background-color: #03A9F4;
    border: none;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 15px;
    position: relative;
    bottom: -0%;
    left: 50%;
    transform: translate( -50%);
}
.buttom__inscricao:hover{
    box-shadow: 2px 2px 10px #03a8f479;
    transition: 0.5s;
    cursor: pointer;
}